<div class="container home-header">
  <h1>Search the place of your dreams</h1>
    <form class="form-inline header-form" action="#">
      <div class="form-group header-select">


        <label>Looking For:</label>
        <select name="occupants">
          <option value="tetovo">Estate Type</option>
          <option value="tetovo">House</option>
          <option value="tetovo">Appartment</option>
        </select>


        <label>In:</label>
        <select name="city">
          <option value="tetovo">City</option>
          <option value="tetovo">Tetovo</option>
          <option value="tetovo">Debar</option>
          <option value="tetovo">Skopje</option>
        </select>


        <label>For:</label>
        <select name="occupants">
          <option value="tetovo">Occupants</option>
          <option value="tetovo">1 Person</option>
          <option value="tetovo">2 People</option>
          <option value="tetovo">3 People</option>
        </select>


        <label>Costs:</label>
        <select name="occupants">
          <option value="tetovo">Price</option>
          <option value="tetovo">$50-$100</option>
          <option value="tetovo">$100-$150</option>
          <option value="tetovo">$150-$200</option>
          <option value="tetovo">$200-$250</option>
        </select>

          <button type="submit" class="header-select">Submit</button>

    </form>
</div>
</div>
</header>
