<main id="container">
  <h2>Featured Appartment in Tetovo</h2>
  <div class="img-wrapper">
      <img src="images/sample-card.jpeg" alt="Just Background">
  </div>
  <p class="detail">We can type some fancy ass description here, so people can feel happy about their wrong decisions.</p>

  <div class="button-wrapper">
      <div class="layer"></div>
      <button class="main-button fa fa-info">
          <div class="ripple"></div>
      </button>
  </div>

  <div class="layered-content">
      <button class="close-button fa fa-times"></button>
      <div class="content">
      </div>
  </div>
</main>
