<header class="header section-header hero-homepage-header">
  <div>
    <nav class="navbar navbar-menu navbar-item">
      <div>
        <%# LOGO %>
        <a href="<%= root_path %>" title="LandPlott">
          <img src="/images/logo.png" alt="LandsPlott" width="120px" height="auto"/>
        </a>
      </div>

      <div class="navbar-end navbar-item navbar-menu">
          <%= link_to "Home", root_path, title: 'Homepage' %>
      </div>
    </nav>
  </div>
  <%= yield %>
