/* Properties */

// Default properties
h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 20px;
  @include vendor-prefixes("font-smoothing", auto);
}

h2 {
  font-size: 22px;
  @include vendor-prefixes("font-smoothing", auto);
}

p {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  @include vendor-prefixes("font-smoothing", auto);
}

ul li {
  @include vendor-prefixes("font-smoothing", auto);
}
