.hero {
  background-size: cover;
  background-position: center center;

  &-homepage-header {
    background-image: url("/images/home-banner.png");
    background-position: top center;

    &-body {
      padding-bottom: 0px;
      overflow: hidden;

      @media(max-width: 768px) {
        padding: 0;
      }
    }
  }
}
